<mat-card>
  <mat-card-header>
    <mat-card-title>Como utilizar</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/imagem_mock.png" alt="Imagem" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis
      et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum
      sapien, id sagittis augue malesuada eu.
    </p>
  </mat-card-content>

  <img mat-card-image src="assets/imagem_mock.png" alt="Imagem" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis
      et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum
      sapien, id sagittis augue malesuada eu.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="button-simulation" routerLink="/simulacao">
      Simulação
    </button>
  </mat-card-actions>
</mat-card>
